<div class='hero v-center'>
  <div class='col-xs-10 col-xs-offset-1 frosty text-center'>
    <h1>this sure is a page!</h1>
    <br />
    <h2>it's very pagey.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>
