<div class='hero hero-top flex-center'>
  <div class="col-xs-10 col-sm-8 frosty-container">
    <div class='frosty-bg text-center'></div>
    <div class='frosty text-center'>
      <h1>Learn some stuff from strangers!</h1>
      <br />
      <h2>They probably know what they're talking about.</h2>
      <br />
      <%= link_to 'Enroll Today!', courses_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>

<div class="hero-spacer"></div>

<div class="lift-box col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="row features">
    <div class="col-xs-12 col-sm-4">
      <h3>Feature 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3>Feature 2</h3>
      <p>Cras nibh nunc, ultricies in justo et, fermentum porttitor mauris. Ut fermentum aliquet diam, vel ullamcorper turpis consectetur ac. Suspendisse a dui tempus, egestas ipsum nec, commodo urna. Aenean luctus vitae tortor sed egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut posuere porttitor libero id aliquet.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3>Feature 3</h3>
      <p>Morbi ut diam non magna viverra finibus eget bibendum elit. Pellentesque vitae porta sem. Etiam ut sem a leo molestie ultricies. Nunc maximus, magna eget hendrerit imperdiet, augue lectus semper arcu, sed euismod nisl tortor ut dolor. Morbi ullamcorper turpis eu ornare ullamcorper. Maecenas ullamcorper id nibh nec vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    </div>
  </div>
</div>
