<div class="lift-box col-xs-12 col-sm-10 col-sm-offset-1">
  <h1>Flixter Team</h1>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="box">
        <%= image_tag "brent.jpg", class: "img-responsive" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="box">
        <h2>Brent Hughes</h2>
        <p>Brent grew up and currently resides in the San Francisco Bay Area. He graduated from Vanderbilt University in 2008, majoring in Neuroscience and Religious Studies, though neither of these subjects have been particularly relevant to his career. He has two cats: one fat one, and one small one.</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="box">
        <%= image_tag "simon.jpg", class: "img-responsive" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="box">
        <h2>Simon</h2>
        <p>DOB: ~ August 1, 2014</p>
        <p>Enjoys lounging in the sun, eating, and knocking things off my desk.</p>
        <p>(This is the fat one.)</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="box">
        <%= image_tag "marcy.jpg", class: "img-responsive" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="box">
        <h2>Marcy</h2>
        <p>DOB: ~ January 15, 2015</p>
        <p>Enjoys jumping, falling, and incessant conversation.</p>
        <p>(This is the small one.)</p>
      </div>
    </div>
  </div>
</div>
