<div class="lift-box col-xs-12 col-sm-10 col-sm-offset-1">
  <h1 class="text-center">Learn something new!</h1>
  <hr />
  <%= render partial: 'course', collection: @courses, spacer_template: 'layouts/hr_separator' %>
</div>
