#footer {
  height: $footer-height;
  background-color: $footer-color;
  padding: 10px 0;

    // a {
    //   color: $brand-color;
    // }
    // a:hover,
    // a:focus {
    //   color: $brand-color-dark;
    //   text-decoration: none;
    // }
}
