#footer {
  // height: $footer-height;
  background-color: $footer-color;
  margin-top: 50px;
  padding: 10px 0;
  & > div {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #footer {
    .row > div {
      padding: 10px 0;
    }
  }
}
