// Body styles

body {
  background: $bg-img;
  font-family: $default-font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrap {
  flex: 1;
  padding-top: ($navbar-height + 20px);
}

@media (max-width: 767px) {
  #wrap {
    padding-top: $navbar-height-collapsed;
  }
}

// Override bootstrappy border-radius

.alert,
.btn,
.dropdown-menu,
.form-control,
.label,
.thumbnail {
  border-radius: 0px;
}

.alert {
  margin-bottom: 20px;
  z-index: 1;
}

// Hero styles

%hero-bg {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.hero {
  height:500px;
  box-shadow: 0px 1px 3px #2a2a2a;
  clear: both;
  @extend %hero-bg;

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
}

.hero-spacer {
  height: 480px + $body-padding;
  width: 0px;
}

.hero-top {
  position: absolute;
  width: 100%;
  top: $navbar-height;
}

@media (max-width: 767px) {
  .hero-top {
    top: $navbar-height-collapsed;
  }
}

.frosty {
  position: relative;
  z-index: 100;
  background: rgba(255,255,255,0.2);
  // background: rgba(30,30,30,0.4);
  // background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 3em;

  h1, h2 {
    text-shadow: rgba(0,0,0,0.95) 1px 2px;
  }

  h1 {
    font-family: $logo-font;
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
  }
}

.frosty-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  -webkit-filter:blur($blur-amount);
  -ms-filter: blur($blur-amount);
  -o-filter: blur($blur-amount);
  filter:blur($blur-amount);
  @extend %hero-bg;
}

.frosty-container {
  padding: 0px;
}

// Image styles

.thumbnail {
  border: none;
  padding: 0;
}

.list-photo {
  margin: 0;
  // padding: 0 10px;
}

.social-icon {
  width: 32px;
  margin: 4px;
}

// Box styles

@media (max-width: 767px) {
  .features {
    & > div {
      border: 1px solid;
      border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    }
  }
}

.flat-box {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.instructor-card {
  margin-top: 20px !important;
}

.instructor-list {
  padding-top: 10px;
}

.item-row {
  margin: 20px 0;
}

.item-row > div {
  margin: 10px 0;
}

.lesson-card {
  position: relative;
  background-color: #555;
  margin: 10px 0;
  height: 120px;
  font-size: 15px;
  color: white;

  .glyphicon-option-vertical {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .lesson-info {
    height: 100%;
    padding: 15px 20px;
  }
}

.lessons {
  margin-top: 20px;
  padding: 0 20px;
}

.lift-box {
  @extend .flat-box;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;

  h1 {
    font-family: $logo-font;
    color: $brand-color;
  }
}

@media (max-width: 767px) {
  .lift-box {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
  }
}

.new-lesson {
  padding: 0 20px;
}

.new-lesson-card,
.new-section-item {
  cursor: pointer;
}

.new-lesson-card {
  @extend .lesson-card;
  height: auto;
  padding: 15px;
  background-color: $brand-color;
}

.new-section-item {
  @extend .flat-box;
  color: $brand-color;
}

.section-box {
  margin: 0 0 20px 0;
}

.section-item {
  @extend .flat-box;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.section-item-header {
  position: relative;

  .glyphicon-option-vertical {
    position: absolute;
    top: 0;
    left: 0;
  }

  .ui-accordion-header-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// Text styles

a {
  color: $brand-color;

  &:hover,
  &:focus {
    color: $brand-color-dark;
    text-decoration: none;
  }
}

.course-title {
  color: $brand-color;
  font-family: $logo-font;
  font-size: 45px;
}

.features {

  h3 {
    text-align: center;
    font-family: $logo-font;
  }
}

.lesson-card {
  a {
    color: white;
  }
  b {
    font-size: 25px;
    line-height: 40px;
  }
  .glyphicon {
    font-size: 20px;
  }
}

.lesson-header {
  @extend .course-title;
  font-size: 40px;
}

.lift-box {
  h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.new-item {
  font-size: 25px;

  .glyphicon {
    font-size: 20px;
  }
}

.new-lesson-card {
  @extend .new-item;
}

.section-item-header {
  font-size: 30px;

  .glyphicon {
    font-size: 25px;
    line-height: 40px;
    font-size: 30px;
  }
}

// Misc component styles

.btn-h1-align {
  margin: 12px 0 22px 0;
}

.clear {
  clear: both;
}

.course-nav {
  margin: 0;

  & > div {
    padding: 5px;
    margin: 0;
  }
}

.flex-center {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: center;
}

.form-actions {
  margin-top: 20px;
}

.has-error {
  background-color: #FFEEEE;
  padding: 10px 8px 2px;
}

.modal-footer {
  .form-actions {
    margin-top: 0;
  }
}

// Fix highlighting with jQuery UI accordion
.ui-state-focus {
  outline: none;
}
