// Body styles

html,
body {
  height: 100%;
  /* For footer, the html and body elements cannot have any padding or margin. */
}

body {
  background: $bg-img;
  font-family: $default-font;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto (-$footer-height);
  /* Pad bottom by footer height */
  padding: ($navbar-height + 20px) 0 ($footer-height + 30px);
}

@media (max-width: 767px) {
  #wrap {
    padding-top: $navbar-height-collapsed + 20px;
  }
}

// Hero styles

.hero {
  height:500px;
  box-shadow: 0px 1px 3px #2a2a2a;
  clear: both;

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
}

.hero-spacer {
  height: 500px;
  width: 0px;
}

.hero-top {
  position: absolute;
  width: 100%;
  top: $navbar-height;
}

@media (max-width: 767px) {
  .hero-top {
    top: $navbar-height-collapsed;
  }
}

.hero, .frosty-bg {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.frosty-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}

.frosty-container {
  padding: 0px;
}

.frosty {
  position: relative;
  z-index: 100;
  background: rgba(255,255,255,0.3);
  //background: rgba(125,125,125,0.25);
  //background: rgba(0,0,0,0.25);
  color: white;
  padding: 3em;

  h1, h2 {
    text-shadow: rgba(0,0,0,0.95) 1px 1px;
  }

  h1 {
    font-family: $logo-font;
  }
}

// Misc component styles

.alert {
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
}

.btn,
.dropdown-menu {
  border-radius: 0px;
}

.clear {
  clear: both;
}

.lift-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;

  // h1, h2 {
  //   margin: 10px;
  // }
}

.v-center {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
}
