// Body styles

body {
  background: url('grey.png');
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

// Navbar styles

.navbar {
  border-radius: 0px;
  box-shadow: 0px 1px 3px #2a2a2a;
}

  .navbar-brand {
    font-family: 'Carter One', cursive;
    font-size: 34px;
  }

  .navbar-inverse .navbar-brand {
    color: #B8F3E7;
  }

// Hero styles

.hero {
  height:370px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px #2a2a2a;
}

  .hero h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }

.hero, .frosty-bg {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  .frosty-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    -webkit-filter:blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter:blur(10px);
  }

.frosty-container {
  padding: 0px;
}

.frosty {
  position: relative;
  z-index: 100;
  background: rgba(255,255,255,0.3);
  //background: rgba(125,125,125,0.25);
  //background: rgba(0,0,0,0.25);
  color: white;
  padding: 3em;
}
  .frosty h1 {
    font-family: 'Carter One', cursive;
    font-weight: 100;
    text-shadow: rgba(0,0,0,0.95) 1px 1px;
  }
  .frosty h2 {
    text-shadow: rgba(0,0,0,0.95) 1px 1px;
  }

// Misc component styles

.btn {
  border-radius: 0px;
}

.v-center {
    display: flex;
    align-items: center;
}

.clear {
  clear: both;
}
